<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">HTA password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.nom})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            For your HTA account a password reset was requested for this account :
        </p>
        <p>
          Username :   [(${user.email})]
        </p>
        <p>
           Reset Key  :  [(${user.resetKey})]
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Ganeo Team.</em>
        </p>
    </body>
</html>
