<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">PatientConsultations</h1>
    <small class="text-muted"></small>
</div>
<div>
    <jhi-alert></jhi-alert>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        
        <div class="panel-body table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th jh-sort-by="id"><span >ID</span> <span class="fa fa-sort"></span></th>
                         <th jh-sort-by="patient"><span >Patient</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="medecin"><span >Medecin</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="dateConsultation"><span >Date Consultation</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="diagnosticHypertension"><span >Diagnostic Hypertension</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="diagnosticPrescriptionMedicale"><span >Diagnostic Prescription Medicale</span> <span class="fa fa-sort"></span></th>
 <th jh-sort-by="prochaineVisiteConsultation"><span >Prochaine Visite Consultation</span> <span class="fa fa-sort"></span></th>

                        <th >
                            <button class="btn btn-primary" ui-sref="patient-consultation.new"   tooltip="Créer PatientConsultation">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="patientConsultation in vm.patientConsultations track by patientConsultation.id">
                        <td>{{patientConsultation.id}}</td>
                         <td>{{patientConsultation.patient.lastName}}</td>
 <td>{{patientConsultation.medecin.nom}}</td>
 <td>{{patientConsultation.dateConsultation | date:'mediumDate'}}</td>
 <td>{{patientConsultation.diagnosticHypertension}}</td>
 <td>{{patientConsultation.diagnosticPrescriptionMedicale}}</td>
 <td>{{patientConsultation.prochaineVisiteConsultation | date:'mediumDate'}}</td>

                        <td >

                           
                            <button type="submit"   ui-sref="patient-consultation.edit({id:patientConsultation.id})" class="btn btn-sm btn-default"  tooltip="Modifier">
                                <i class="fa fa-edit">
                                </i>
                            </button>

                            <button type="submit"  ui-sref="patient-consultation.delete({id:patientConsultation.id})"  class="btn btn-sm btn-danger"  tooltip="Supprimer">
                                <i class="fa fa-trash">
                                </i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                </div>
                <div class="col-sm-6 text-right text-center-xs">
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
